<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trends' %>
      <%= render 'feed', tweets: @tweets %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>
<%= link_to "New tweet", new_tweet_path %>
