<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">Login</h2>
        <%= simple_form_for(resource, as: resource_name, url: user_session_path, data: { turbo: false }) do |f| %>
          <%= f.error_notification %>
          <div class="field">
            <div class="control">
              <%= f.input :email,
                required: true,
                wrapper: false,
                input_html: { class: "input" },
                label_html: { class: "label" }
              %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.input :password,
                required: true,
                wrapper: false,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "input" },
                label_html: { class: 'label' } %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.button :submit, "Login", class: "button is-info is-medium" %>
            </div>
          </div>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
